input[type="checkbox"] {
    appearance: none;           /* default overide  */
    -webkit-appearance: none;   /* default overide  */
    cursor: pointer;            /* default overide  */
    margin: 0px;                /* default overide  */
    border-style: solid;
    border-width: 2px;
    border-radius: 2px;
    border-color: #49454f;
    width: 18px;
    height: 18px;
    display: inline-flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

input[type="checkbox"]::before {
    content: '';
    position: absolute;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color:#1d1b20;
    opacity: 0;
    /* WIP: transition */
}

input[type="checkbox"]:hover::before {
    opacity: 0.08;
    /* WIP: transition */
}

input[type="checkbox"]:active::before {
    opacity: 0.12;
    /* WIP: transition */
}

input[type="checkbox"]::after {
    content: '';
    position: absolute;
    border-radius: inherit;
    width: inherit;
    height: inherit;
    background-color: #6750a4;
    opacity: 0;
    transition-duration: 150ms, 50ms;
    transition-property: transform, opacity;
    transition-timing-function: cubic-bezier(0.3, 0, 0.8, 0.15), linear;
    transform: scale(0.6);
}

input[type="checkbox"]:checked::after {
    opacity: 1;
    transition-duration: 350ms, 50ms;
    transition-property: transform, opacity;
    transition-timing-function: cubic-bezier(0.05, 0.7, 0.1, 1), linear;
    transform: scale(1);
}

input[type="checkbox"]:disabled {
    border-color: #1d1b20;
    opacity: 0.38;
    cursor: default;
}

input[type="checkbox"]:disabled::before {
    opacity: 0;
}